* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


.h1 {
    font-family: Montserrat;
    padding-bottom: 32px;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFF;
    width: 788px;
}

.h1p1 {
    height: 64px;
    width: 481px;
    color: #6d6b6b;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    /* 177.778% */
    padding-bottom: 44px;
}

.p1 {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.top_content {
    height: 1024px;
    background-image: url(img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 217px;
}

.button {


    border-radius: 30px;
    width: 234.063px;
    height: 48.603px;
    flex-shrink: 0;
    background-color: #9C0332;
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    border: none
}

.button:hover {
    background: #EB443F;
}

.game {
    &_timeyear {
        display: flex;
        justify-content: space-between;
        padding-top: 282px;
        flex-wrap: wrap;
    }
    &_foot{width: 485px;
        height: 333px;}

    background-image: url(img/Rectangle\ 5.jpg);
    height: 556px;

    &_img {
        border-radius: 18px;
        width: 100%;
        height: 100%;
    }

    &_card {
        position: relative;
    }

    &_box {
        padding-top: 128px;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }

    &_timeyear {
        background-image: url(img/fon.jpg);
        height: 800px;
    }
}

#one {
    position: relative;
    top: -64px;
    left: 32px;
}

.text_img {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    position: absolute;
    left: 32px;
    bottom: 32px;
    text-decoration: none;
    /* 133.333% */
}

.text_img:hover {
    text-decoration: underline;
}

.h2 {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
}


.p2 {  
    display: block; 
    width: 584px;
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    height: 64px;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}
.timeyear{display: flex;
flex-direction: column;
gap: 32px;}
