@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 735px;
        padding-top: 238px;

    }

    .h1 {
        color: #FFF;
        text-align: center;
        font-size: 32px;
        width: 343px;
        height: 78px;
        line-height: normal;
    }

    .h1p1 {
        color: #6d6b6b;
        text-align: center;
        font-size: 14px;
        width: 343px;
        padding-bottom: 56px;

    }

    .p1 {
        color: #FFF;
        font-size: 14px;
    }

    .game {
        height: 1221px;

        &_box {
            justify-content: center;
        }
    }
}